/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }


/* index.html */
body{
  font:normal 16px Helvetica, Arial, sans-serif;
  max-width:1200px;
  margin:0 auto;
}

header {
  background-color:#3d3d3d;
  text-align: center;
}

header h1 {
  padding:100px 0 50px 0;
  color:#ffffff;
  font-size:60px;
  letter-spacing: 20px;
  text-transform: uppercase;
}

header ul {
  padding:100px 0 50px 0;
}

header li {
  display:inline-block;
  padding:20px;
}
header a {
  text-decoration: none;
  color:#ffffff;
  text-transform: uppercase;
}
header a:hover{
  color:#50c3af;
}

/*main layout*/
main {
 margin:50px 300px 50px 50px;
}
.primary {
  background-color:#ffffff;
  width:100%;
}

.sidebar{
  padding:30px;
  box-sizing: border-box;
  float:right;
  margin-right:-250px;
  background-color:#f6f7f8;
  width:200px;
}

main:after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*articles*/
.primary article {
  margin:50px 0;
}
.primary h2 {
  font-size:40px;
  margin:20px 0;
}

.primary h3 {
  font:1rem;
  margin:20px 0;
}
.primary a {
  text-decoration: none;
  color:#50c3af;
}
/*pager*/
.pager {
  margin:100px 0;
}
.pager label {
  display:inline-block;
  width: 85px;
  height:30px;
  border-radius: 15px;
  background:lightgray;
  padding: 5px 20px;
  box-sizing:border-box;
  
}
.pager a{
  text-decoration: none;
  margin:0 auto;
  color:#ffffff;
}

.pager label:hover {
 background:#50c3af;
}

/*sidebar*/
.sidebar h2{
  font-size:16px;
  text-transform: uppercase;
  margin:20px 0;
}

.sidebar div + div{
  margin-top:100px;
}

.sidebar p {
  text-align:justify;
}

.sidebar li {
  padding:5px 0 5px 20px;
  background: transparent url("./images/blt_ul.png") 0 50% no-repeat;
}

.sidebar a{
  text-decoration: none;
}

.sidebar p, 
.sidebar a {
  color:gray;
}
/*footer*/
footer {
  margin:0 50px;
  border-top:1px solid #d0d0d0;
  padding:20px 0;
}


/*
* {
  border:1px solid black;
  box-sizing:border-box;
}*/