/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/* common style */
body{
  font:normal 16px Helvetica, Arial, sans-serif;
  max-width:1200px;
  margin:0 auto;
}

a {
  text-decoration: none;
}

.button {
  display:inline-block;
  width: 85px;
  height:30px;
  border-radius: 20px;
  padding: 5px 25px;
  color:#ffffff;
  box-sizing:border-box;
}
a.button {
  background:lightgray;
}

a.button:hover {
 background:#50c3af;
}

h2 {
  font-size:40px;
  margin:20px 0;
}

article {
  margin:0 0 100px 0;
}

textarea, input, button, select { 
  font-family: inherit; font-size: inherit; 
}

/* index.html */

body > header {
  background-color:#3d3d3d;
  text-align: center;
  padding: 150px 250px 50px 250px;
}

body > header h1 {
  color:#ffffff;
  font-size:56px;
  height:200px;
  letter-spacing: 20px;
  text-transform: uppercase;
  background:transparent url("./images/logo.png") 50% 100% no-repeat;
  margin-bottom:100px;
}

body > header ul {
  list-style: none;
}

body > header li {
  display:inline-block;
  padding:20px;
}
body > header a {
  color:#ffffff;
  text-transform: uppercase;
}
body > header a:hover{
  color:#50c3af;
}

/*main layout*/
main {
 margin:0 auto;
 max-width:1000px;
 overflow:hidden;
 padding:80px 0;
}
#content {
  background-color:#ffffff;
  width:65%;
  float:left;
  margin-right:10%;
}

#sidebar{
  padding:30px;
  box-sizing: border-box;
  background-color:#f6f7f8;
  width:200px;
  overflow:hidden;
}

main:after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*articles*/
#content header {
  margin: 0 0 40px 0;
}

#content header p {
  font:1rem;
  margin:20px 0;
}
#content p a {
  color:#50c3af;
}
/*pager*/
.pager {
  margin:100px 0;
}

/*sidebar*/
#sidebar h2{
  font-size:16px;
  text-transform: uppercase;
  margin:20px 0;
}

#sidebar div + div{
  margin-top:100px;
}

#sidebar p {
  text-align:justify;
}

#sidebar li {
  padding:5px 0 5px 20px;
  background: transparent url("./images/blt_ul.png") 0 50% no-repeat;
}

#sidebar p, 
#sidebar a {
  color:gray;
}
/*footer*/
footer {
  max-width:1000px;
  margin:0 auto;
  border-top:1px solid #d0d0d0;
  padding:20px 0;
}

/* post page */

.comments article {
  margin: 0 0 50px 0;
}

.comments h3 {
  padding-bottom:20px;
}
form  input[type="text"],
form  input[type="email"],
form textarea{
  display:block;
  width:100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box; 
  /*font: normal 16px Helvetica, Arial, sans-serif;*/
}


form textarea{
  resize: vertical;
  max-height:300px;
}

form .button {
  display:block;
  color:#ffffff;
  background:#50c3af;
  box-shadow: none;
  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;  
}

/*
* {
  border:1px solid black;
  box-sizing:border-box;
}*/