/* box-sizing reset */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  background-color: #5BCCB3;
  margin: 50px auto;
}

main {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 450px;
}


h1, 
dt {
  color: #16997C;
}

dt {
  font-size: 18px;
  font-weight: bold;
  padding-bottom:  5px;
}

dd {
  margin: 0;
  padding-bottom: 20px;
}

#name, 
#quantity {
  height: 50px;
  padding: 5px;
  font-size: 18px;
}

#name {
  width: 100%;
}

#quantity {
  width: 100px;
}

input[type='submit'] {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #CC183E 0%, #780E24 100%);
  color: #fff;
  font-size: 20px;
  box-shadow:none;
}

h2 {
  color: #CC183E;
  text-align: center;
}