/* box-sizing reset */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  font: normal 16px Helvetica, Arial, sans-serif;
  background-color: #5BCCB3;
 color: #16997C;
  margin: 50px auto;
}

main {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  width: 450px;
}

fieldset { 
  border: none; 
  padding: 0;
}

label {
  font-size: 18px;
  font-weight: bold;
  padding-bottom:  5px;
  display: block;
}

input[type="text"] {
  width: 80px;
  height: 50px;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}

input#name { width: 100%; }

input[type='submit'] {
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-shadow: 1px 1px 5px rgba(80, 80, 80, .8);
  box-shadow: 0 0 1px 1px #780e24;
  background: linear-gradient(to bottom, #CC183E 0%, #780E24 100%);
}

h2 {
  color: #CC183E;
  text-align: center;
}

li + li {
  border-top: 1px solid #ececec;
}

li {
  height: 50px;
  line-height: 50px;
}

