<form action="/albums" method="post">
<h1>New Album</h1>
  <fieldset>
    <dl>
      <dt>
        <label>Title</label>
      </dt>
      <dd>
        <input type="text" name="title"/>
      </dd>
      <dt>
        <label>Artist</label>
      </dt>
      <dd>
        <input type="text" name="artist"/>
      <dt>
        <label>Date</label>
      </dd>
      </dt>  
      <dd>
        <input type="date" name="date" />
      </dd>  
      <dt>
        <label>Covor</label>
      </dt>  
      <dd>
        <input type="url" name="cover" />
      </dd>  
      <dt>
        <label>Price</label>
      </dt>  
     <dd>
        <input type="text" name="price" />
      </dd>
    </dl>
  </fieldset>
  <input type="submit" value="Create"/>
</form>