/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/*
-----------------------------------------
MUST common style
-----------------------------------------
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
}
.clearfix::after{
  content:"";
  display:block;
  visibility: none;
  clear:both;
}

/* 
--------------------------------
common
-------------------------------- 
*/
body {
  font: normal 16px "Open Sans", Arial, sans-serif;
  margin-top:45px;
}


a {
  text-decoration: none;
}

.button{
  display:inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  margin:15px;
  background:#008000;
  color:#ffffff;
}

.text-centered {
  text-align: center;
}

.pos-rel {
  position: relative;
}

/*
-----------------------------------
top-most
----------------------------------
*/

#top-most{
  position:fixed;
  top:0;
  left: 0;
  height: 45px;
  width:100%;
  background:#ffffff;
  z-index:1;
}

#top-most ul{
  text-align: center;
}
#top-most li{
  display:inline-block;
  margin: 0 25px;
}
#top-most a{
  color:#444;
  font-size:13px;
  line-height: 45px;
  text-transform: uppercase;
}

/*body > header {position:relative;}
body > main {position:relative;}
body > footer {position:relative;}*/
/* 
--------------------------------
header
-------------------------------- 
*/

header {
  height:428px;
  width: auto;
  text-align: center;
  padding: 150px 0 65px 0;
  background:transparent url("./images/front.jpg") center center no-repeat;
}

header h1 {
  font-size:72px;
  text-align: center;
  font-weight: normal;
  color:#fff;
  height: 70px;
  line-height: 70px;
  margin:15px 0;
}

header h2{
  color:#fff;
  text-transform: uppercase;
}

/* 
--------------------------------
sections
-------------------------------- 
*/

/* generic section */
.section {
  padding: 75px 0 50px 0;
  margin: 0 30px;
}

.section + .section {
  border-top:1px solid #efefef;
}

.section h1 {
  font-size: 48px;
  font-weight: normal;
  text-align: center; 
  margin-bottom: 50px;
}

.section h2 { 
  font-size: 24px;
  text-align: center;
  color: #008000;  
  margin:30px auto 5px auto;
}

.section h3 { 
  font-size: 18px; 
}

/* speakers section */
.speakers ul {
  text-align: center;
} 
.speakers li {
  display:inline-block;
  width:280px;
  height:378px;
  vertical-align: top;
  margin:5px;
  border: 1px solid #e8e8e8;
  background:#fff;
}
.speakers .intro {
  display:none;
  position:absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  padding:10px;
  background:#000000;
}
.speakers .intro h2 {
  margin:10px;
}
.speakers .intro p{
  color: #fff;
  font-size:13px;
  text-align: center;
}
.speakers .intro p + p{
  margin-top:1em;
}
.speakers .intro a {
  color: #008000;
}
.speakers li:hover .intro {
  display:inline-block;
}

/* schedule section */
.schedule table{
  border-collapse: collapse;
}

.schedule tr{
  border-top:1px solid #EFEFEF;
}

.schedule td {
  font-size:24px;
  line-height: 1.4em;
  padding: 15px;
}

.schedule tr:last-of-type {
  border-bottom:1px solid #EFEFEF;
}

.schedule h3 a { 
  color: #008000;
  text-align: left;
}
.schedule label {
  background:#eee;
  border:1px solid #aaa;
  padding: 1px 4px;
  font-size:7px;
  vertical-align: middle;
}
.schedule img {
  width: 130px;
  height:auto;
  float:right;
}
/* 
--------------------------------
footer
-------------------------------- 
*/