@import url("whitespace-reset.css");

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color:#F0F0F0;
  background:#141414;
}

main {
  min-width: 600px;
  max-width: 1000px;
  overflow: hidden;
  margin:0 auto;
  background:#333333;
  padding: 25px 20px 20px 20px;
}

h1 {
  font-size:36px;
  text-align: center;
}

img {
  display:block;
  width:100%;
}
figure {
  padding:20px 0;
  box-sizing: border-box;
}
figure img {
  width:100%;
  border:20px solid #ffffff;
  box-sizing: border-box;
}

figure figcaption {
  margin-bottom: 20px;
}

ul {
  padding: 0;
  margin: 0 -15px;
  font-size: 0;
}

ul li {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

li img {
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

