
/* Home page */



/* Projects page */
.project img {
  width:800px;
}


/* Team page */

.team ul {
  display:inline-block;
  text-align: center;
  list-style: none;
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.team figure {
  margin:0 28px 60px 28px;
}

.team li {
  display:inline-block;
  padding:0;
  margin:0;
}
.team ul a {
  text-decoration: none;
}