/* box-sizing reset */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font: normal 13px Helvetica, Arial, sans-serif;
  background: #780E24;
}

#page {
  width: 1000px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
}

#canvas {
  position: relative;
  width: 100%;
  height: 500px;  
  border: 1px solid #cccccc;
  background: linear-gradient(to bottom, #ffffff 0%, #0066cc 100%);
}

.shape {
  position: absolute;
  width: 30px;
  height: 30px;
}

.circle {
  border-radius: 15px;
  background: yellow;
  top: 100px;
}

.square {
  background: yellow;
  top: 0;
}
.star {
  background: transparent url("star.png") 0 0 no-repeat;
  background-size: cover;
  top: 200px;
}


ul {
  list-style: none;
}

dd {
  margin: 0;
}

input[type="number"] {
  padding: 5px;
  margin: 5px 0 5px 0;
  width: 60px;
}