/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/* set border-box by default */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image:linear-gradient(to bottom, #d2dbbe, #fcfff5);
  font: normal 18px "Roboto Condensed", sans-serif;
  color:#3e606f;
  width:960px;
  margin:0 auto;
}
header {
  padding:20px 20px 0 20px;
}
main {
  background-color:white;
  padding:30px;
  box-shadow:10px 10px 10px 0px rgba(0, 0, 0, 0.10);
  clear:both;
  overflow:hidden;
  box-sizing:border-box;
}

header > h1 {
  float:left;
  height:100px;
  padding:50px 0 20px 115px;
  font-size:36px;
  font-weight: normal;
  color:#193441;
  background: transparent url("./res/logo.png") 0 0 no-repeat;
}

h2 {
  font-size:32px;
  padding:25px 0;
}
header:after {
  display: block;
  clear: both;
  content: "";
}

header > nav {
  float:right;
  padding:0 0 0 0 ;
}
header > nav ul {
  text-align: right;
  margin:0 auto;
  padding-top:80px;
}
header > nav li {
  display:inline-block;
  background-color:#fcfff5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header > nav a {
  display:block;
  font-size:18pt;
  width:130px;
  height:45px;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  color:rgb(145, 170, 157);
  background-color:#fcfff5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header > nav a.active{
  background-color:rgb(145, 170, 157);
  color:rgb(252, 255, 245);
}
p {
  padding: 0 0 20px 0;
}

footer {
  font-size:14px;
  width:960px;
  margin:0 auto;
  padding:15px 0;
}

.cover-image{
  width:100%;
}
.inline-image {
  float:right;
  padding: 0 0 20px 30px;
}






