-
  function total(a, b) {
    return (a.price ? a.price * a.quantity : a) + b.price * b.quantity;
  }

  function format(price) {
    return price.toFixed(2);
  }
  function cart_quantity() {
    return cart.reduce(function(a, b) {
      return a + b.quantity;
    }, 0);
  }