include _functions

extends layout

block content
  h1= title
  p Welcome to #{title}
  ul#albums
    each album in albums
      li 

block scripts
  script(type="text/javascript").
    App.albums = new Albums(!{JSON.stringify(albums)})
    App.init();