include _mixins
include _functions

doctype html
html
  head
    title= title
    +stylesheet_link_tag("style")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    main
      block content

    +javascript_include_tag("application")
    +javascript_include_tag("models/album")
    +javascript_include_tag("collections/albums")
    +javascript_include_tag("views/album", "views/new_album", "views/index")
    script(type="text/javascript").
      App.albums = new Albums(!{JSON.stringify(albums)})
    +javascript_include_tag("router")
