font = normal 14px Helvetica, Arial, sans-serif

colors = {
  body: #FFFFFF,
  primary: #DFD6BC,
  secondary: #EDEBEC,
  border: #888888,
  delete: #b00b00,
  button: {
    fg: #888,
    bg: #1be5af
    hover: #0bba91,
    focus: red
  }
}

button()
  display: inline-block
  cursor: pointer
  padding: 4px
  text-decoration: none
  color: colors.button.fg
  border: 1px solid colors.border
  border-radius: 4px
  background: colors.button.bg
  margin: 10px 0;
  outline: none
  &:hover
    background: colors.button.hover
  &:focus
    background: colors.button.focus