font = normal 14px Helvetica, Arial, sans-serif

colors = {
  body: #FFFFFF,
  primary: #DFD6BC,
  secondary: #EDEBEC,
  button: {
    fg: #fff,
    bg: #888,
    hover: #ccc,
    focus: red
  }
}

button()
  display: inline-block
  cursor: pointer
  padding: 4px
  text-decoration: none
  color: colors.button.fg
  border: 3px solid colors.secondary
  background: colors.button.bg
  outline: none
  &:hover
    background: colors.button.hover
  &:focus
    background: colors.button.focus