@import "whitespace-reset.css";
body {
  font: normal 14px Helvetica, Arial, sans-serif;
}
#albums li {
  display: inline-block;
  width: 80px;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
#albums li img {
  width: 100%;
  margin: 0 10px 10px 0;
}
.button {
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  border: 3px solid #edebec;
  background: #dfd6bc;
}
