@import "whitespace-reset.css"
@import "mixins"

body
  font: font

#albums
  li
    display: inline-block
    width: 80px
    margin: 0 10px 10px 0
    vertical-align: top
    img 
      width: 100%
      margin: 0 10px 10px 0

.button
  button()