@import "whitespace-reset.css";
body {
  font: normal 14px Helvetica, Arial, sans-serif;
}
#albums li {
  display: inline-block;
  width: 100px;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
#albums li img {
  display: block;
  width: 100%;
  margin: 0 10px 10px 0;
}
.button {
  display: inline-block;
  cursor: pointer;
  padding: 4px;
  text-decoration: none;
  color: #fff;
  border: 3px solid #edebec;
  background: #888;
  outline: none;
}
.button:hover {
  background: #ccc;
}
.button:focus {
  background: #f00;
}
