/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:  	Tantek Celik, Shane Riley
    Version:  	(CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:	Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/* box-sizing reset */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* native implementationi reset */
textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
}

body {
  font: normal 13px Helvetica, Arial, sans-serif;
  background: #fff;
}

.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

.button {
  font-size: 1.6em;
  color: #666;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 8px;
  background: transparent;
}

.button:hover {
  cursor: pointer;
  color: #fff;
  background: #563d7c;
}

a.button {
  text-decoration: none;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"] {
  height: 34px;
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none;
  text-shadow: none;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}

/* header */
header {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #fff;
  background: linear-gradient(to bottom,#563d7c 0,#6f5499);
}

header h1 {
  font-size: 1.6em;
  margin: 10px 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

/* main */
 main {
   margin: 0 auto;
   max-width: 1000px;
 }

#operation, #message {
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px 0px;
}

#operation > div {
  display: inline-block;
  margin: 0 50px;
}

#message {
  display: none;
  margin: 20px;
}

#message p {
  font-size: 1.6em;
  margin: 10px 0;
}

/* contacts */

#contacts {
  margin: 30px 5px;
  text-align: left;
}

.contact {
  display: inline-block;
  width: 220px;
  padding: 0 0 20px 5px;
  border-bottom: 1px solid #ccc;
  margin-right: 20px;
}

.contact h3, dl {
  margin: 20px 0;
}

.contact dt, dd {
  margin: 10px 0;
}

.contact dt {
  font-weight: bold;
}

.contact .button {
  font-size: 1em;
  padding: 8px;
  border-radius: 4px;
  margin-right: 20px;
}

.contact .pencil::before {
  content: "\1F589";
  padding-right: 5px;
}

.contact .trash::before {
  content: "\1F5D1";
  padding-right: 5px;
}

.contact span.tag {
  cursor: pointer;
  color: #fff;
  background: #666;
  padding: 3px;
  border-radius: 5px;
  margin: 0;
}

.contact span.tag:hover {
  color: #fff;
  background: #888;
}

/* form */
form {
  display: none;
  width: 600px;
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

form h2 {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

form p {
  margin: 20px 0;
}

form label {
  display: inline-block;
  width:180px;
  text-align: right;
  font-weight: bold;
  margin-right: 34px;
}

form input[type="text"],
input[type="email"], 
input[type="tel"] {
  display: inline-block;
  width: 380px;
}

form .button {
  width: 150px;
}

form .button + .button {
  margin-left: 70px;
}

/* footer */
footer {
   margin: 20px auto;
   text-align: center;
   max-width: 800px;
}