/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/*
-----------------------------------------
MUST common style
-----------------------------------------
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
textarea, input, button, select {
  font-family: inherit;
  font-size: inherit;
}
.clearfix::after{
  content:"";
  display:block;
  visibility: none;
  clear:both;
}

/*
------------------------------------
common
------------------------------------
*/
body{
  font: normal 16px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 30px;
  color: #3580C2;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 22px;
  color: #3580C2;
}

h3 {
  font-size: 21px;
  color: #DB3127;
}

.at {
  color: #cccccc;
}
/*
------------------------------------
header
------------------------------------
*/
/*url("./images/bg1080.jpg")*/
body > header {
  width:100%;
  padding: 15px;
  background-image: url("./images/bg-init-blue.jpg"),url("./images/bg1080.jpg");
  background-color: #3580C2;
  background-position: center center no-repeat;
  background-size:cover;
  color: #fff;
}

body > header .social {
  float:right;
  width:25px;
  height:25px;
  margin: 25px;
  background: transparent url("./images/social.png") 0 0 no-repeat;
  background-size: cover;
}

body > header .tw {
  background-position: 0 0;
}

body > header .fb {
  background-position: 100% 100%;
}

body > header ul {
  text-align: center;
}

body > header li {
  display:inline-block;
  vertical-align: middle;
  margin: 15px;
}

body > header li a {
  color:white;
  text-decoration: none;
}

body > header h1 {
  height: 300px;
  line-height: 300px;
}

body > header h1 span {
  display: inline-block;
  font-size: 36px;
  color:#fff;
  margin: 0 10px;
  vertical-align: middle;
}
body > header h1 span.sign {
  font-size: 60px;
  font-weight: normal;
}
body > header h1 span.yellow{
  color: #F3DF49;
}
body > header h1 img {
  vertical-align: middle;
}

/*
------------------------------------
sections
------------------------------------
*/

.section {
  width:980px;
  margin: 90px auto;
}
.section header {
  width: 570px;
  line-height: 1.5em;
  font-size: 30px;
  font-weight: normal;
  color: #808080;
  text-align: center;
  margin: 0 auto;
}
.section header strong {
  color: #000;
}

/* speakers */
.section .speaker img {
  width: 120px;
  height: 120px;
}

/*
------------------------------------
footer
------------------------------------
*/