html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #2f2840 url("bg.jpg") repeat;
}

main, footer {
  width: 1000px;
  margin: 0 auto;
}

header {
  padding:160px 0 90px 0;
}

header > h1 {
  text-align:center;
  margin:0;
}

main {
  background:white;
  padding: 115px;
  font: normal 16px/1.5rem Helvetica, Arial, sans-serif
}

article {
  text-align:center;
}

article > h2 {
  font-size:36px;
  margin: 0 0 40px 0;
}

article > h3 {
  font-size:24px;
  color:#3e98b2;
  margin: 0 0 40px 0;
}

article > p {
  font-size:20px;
}
article + article {
  margin:160px 0 0 0;
}

footer {
  background:#e7e7e7;
  padding: 15px 0;
}

footer ul {
  list-style:none;
  text-align:center;
}

footer  li {
  display:inline-block;
}
footer li + li {
  padding-left:150px;
}