* { box-sizing: border-box; margin: 0; }

body {
  background: #c0c0c0;
}

#columns {
  width: 1000px;  
  margin: 0 auto;
  overflow: hidden;
}

#original {
  width: 500px;  
  float: left;
}

#manipulated {
  width: 500px;
  float: right;
  background: #ffffff;
}

img {
  width: 500px;
}