/* layouts  */
body{
  font:normal 16px Helvetica, Arial, sans-serif;
}

header {
  padding: 0px 0px 0px 0px;
}

main {
  padding: 0px 0px 0px 0px;
}

footer {
  clear:both;
}

/* common style */
ul {
  list-style: none;
}

li {
  background: transparent url("./images/blt_ul.png") 0 50% no-repeat;
}

/* anchor */
a {
  text-decoration: none;
  color:#000000;
}

/* styles per sections */
/* Be more specific: direct child, descendant, sibling */
