/* big sections  */
body{
  font:normal 16px Helvetica, Arial, sans-serif;
}

header {
  padding: 0px 0px 0px 0px;
}

main {
  padding: 0px 0px 0px 0px;
}

footer {
  padding: 0px 0px 0px 0px;
  clear:both;
}

/* common style */
ul {
  list-style: none;
  margin:0;
}

li {
  background: transparent url("./images/blt_ul.png") 0 50% no-repeat;
}

a {
  text-decoration: none;
  color:#000000;
}

/* anchor as button.e.g. pager */
a.button {
  display:inline-block;
  width: 85px;
  height:30px;
  border-radius: 20px;
  color:#ffffff;
  background:lightgray;
  padding: 5px 25px;
  box-sizing:border-box;
}

a.button:hover {
 background:#50c3af;
}

/* form wont take body font automatically */
textarea, input, button, select { 
  font-family: inherit; font-size: inherit; 
}


/* styles per sections */
/* Be more specific: direct child, descendant, sibling */
