extends layout

block content
  ul#products
    each product in products
      li
        img(src="images/#{product.cover}")
        h2= product.title
        dl
          dt Console
          dd 
          case product.console
            when "SNES"
              span.logo.snes(title="SNES") SNES
            when "PlayStation 2"
              span.logo.snes(title="PlayStation 2") SNES
            when "GameCube"
              span.logo.snes(title="SNES") SNES
          dt Year
          dd #{product.release_year}
          dt Genre
          dd Strategy
          dt UPC
          dd= product.upc
        a(href="#") Add to cart
