doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      nav
        ul
          each link in links
            li
              if link.active
                a.active(href="#{link.href}")= link.title
              else
                a(href="#{link.href}")= link.title
    block content
