form {
  width: 450px;
}
label {
  display: block;
}
p {
  font-size:18px;
}
article > p {
  font-family: sans-serif;
}
main li ~ li{
  border-top: 1px solid #0066cc;
}

main ul li ~ li {
  border-top: dotted;
}

header ul {
  display:none;
}

header > ul {
  display:block;
}

h2 + p {
  padding-top:20px;
}

header li:hover > ul {
  display:block;
}

input[type="text"]:focus {
  background:#fff9b5;
}

input[type="checkbox"]:checked ~ span {
  font-weight:bold;
}

input[type="text"] {
  border:1px solid #999999;
}

input[required] {
  border: 1px solid #004f75;
}

main li:first-child {
  text-indent: 15px;
}

/*tr:nth-child(odd) td{
  background:#d4f7fb;
}*/
tr:nth-of-type(odd) td{
  background:#d4f7fb;
}      

td:nth-of-type(3) {
  text-align: center;
}
.subheading {
  background:#e0e0e0;
}

#intro {
  text-decoration:underline;
  font-size:20px;
}